/* Déclaration des propriétés CSS*/

/* Propriétés globales */
.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 0.25em;
}

.ml-2 {
    margin-left: 0.5em;
}

.ml-3 {
    margin-left: 0.75em;
}

.ml-4 {
    margin-left: 1em;
}

.ml-5 {
    margin-left: 1.5em;
}

.ml-6 {
    margin-left: 2em;
}

.ml-7 {
    margin-left: 2.5em;
}

.ml-8 {
    margin-left: 3em;
}

.ml-9 {
    margin-left: 3.5em;
}

.ml-10 {
    margin-left: 4em;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 0.25em;
}

.mr-2 {
    margin-right: 0.5em;
}

.mr-3 {
    margin-right: 0.75em;
}

.mr-4 {
    margin-right: 1em;
}

.mr-5 {
    margin-right: 1.5em;
}

.mr-6 {
    margin-right: 2em;
}

.mr-7 {
    margin-right: 2.5em;
}

.mr-8 {
    margin-right: 3em;
}

.mr-9 {
    margin-right: 3.5em;
}

.mr-10 {
    margin-right: 4em;
}

.burger {
    cursor: pointer;
    display: var(--navbar-burger-display);
    padding: 0 15px;
}

.burger:hover {
    background-color: #f5f5f5;
}

.burger.is-active .burger-inner,
.burger.is-active .burger-inner:after,
.burger.is-active .burger-inner:before {
    background-color: #4a4a4a;
}

.burger:hover .burger-inner,
.burger:hover .burger-inner:after,
.burger:hover .burger-inner:before {
    background-color: #0a0a0a;
}

.burger-box {
    display: flex;
    align-items: center;
    width: 40px;
    height: 80px;
    transition: var(--navbar-transition);
}

.navbar:not(.up) .burger-box {
    height: 0;
    transform: translateY(0);
}

.burger-inner,
.burger-inner:after,
.burger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #4a4a4a;
}

.burger-inner:after,
.burger-inner:before {
    content: ""
}

.burger-inner:before {
    top: -10px
}

.burger-inner:after {
    bottom: -10px
}

.burger .burger-inner {
    transition: cubic-bezier(.19, 1, .22, 1) 0.3s;
}

.burger.is-active .burger-inner {
    transform: rotate(765deg);
}

.burger.is-active .burger-inner:before {
    top: 0;
    opacity: 0
}

.burger.is-active .burger-inner:after {
    bottom: 0;
    transform: rotate(90deg)
}


/* Écran "xl" */
@media (min-width: 1200px) {
}

/* Écran "lg" */
@media (min-width: 992px) {
}

/* Écran "md" */
@media (min-width: 768px) {
}

/* Écran "sm" */
@media (min-width: 576px) {
}

/* Écran "xs" */
@media (max-width: 575px) {
}
