/* Utilisation des variables et des polices */

* {
    font-family: gotham-book;
    color: #4a4a4a
}

body {
    margin-top: var(--navbar-height);
    min-height: 150vh;
}

footer {
    background-color: blue;
    color: white;
}

.icon {
    width: 2em;
}

/**** navbar ****/
.navbar {
    background-color: var(--navbar-bg);
    box-shadow: var(--navbar-box-shadow);
    left: 0;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    transition: var(--navbar-transition);
    width: 100%;
}

.navbar.down {
    height: 0;
}

.navbar-container {
    display: flex;
    flex-direction: var(--navbar-flex-direction);
    height: var(--navbar-height);
    justify-content: var(--navbar-container-justify-content);
    margin: var(--navbar-container-margin);
    overflow: hidden;
    transition: var(--navbar-transition);
}

.navbar.down .navbar-container {
    height: 0;
}

.navbar .brand {
    padding-right: 2em;
    width: max-content;
}

.navbar a {
    display: flex;
    align-items: center;
    padding-left: var(--navbar-links-padding-x);
    padding-right: var(--navbar-links-padding-x);
    text-decoration: none;
    white-space: nowrap;
    width: calc(100% - 2 * var(--navbar-links-padding-x));
}

.has-dropdown .navbar-item a {
    font-size: 0.95em;
    line-height: 2;
    padding-right: calc(var(--navbar-links-padding-x) + 2 * var(--navbar-links-hover-decallage));
    transition: var(--navbar-links-transition);
}

.navbar a:hover {
    background-color: #f5f5f5;
    color: #0a0a0a;
}

.has-dropdown .navbar-item:hover a {
    padding-left: calc(var(--navbar-links-padding-x) + var(--navbar-links-hover-decallage));
    padding-right: calc(var(--navbar-links-padding-x) + var(--navbar-links-hover-decallage));
}

.navbar-items {
    transform: translateY(238px);
    
    display: flex;
    flex-direction: var(--navbar-items-flex-direction);
    justify-content: space-around;
    margin: 0;
    padding: 0;
    position: var(--navbar-items-position);
}

.has-dropdown .navbar-items {
    background-color: var(--navbar-bg);
    border-radius: 6px;
    flex-direction: column;
    margin-top: var(--navbar-items-margin-top);
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: var(--navbar-transition);
}

.navbar:not(.down) .has-dropdown:hover .navbar-items {
    box-shadow: var(--navbar-items-box-shadow);
    max-height: 500px;
    padding-top: var(--navbar-items-padding-y);
    padding-bottom: var(--navbar-items-padding-y);
}

.navbar-item {
    display: flex;
    line-height: normal;
}

.navbar-divider {
    background-color: #f5f5f5;
    border: none;
    height: 2px;
    margin: .5em 0;
}

.navbar-icon {
    width: 32px;
}




/***** burger *****/
.burger {
    cursor: pointer;
    display: var(--navbar-burger-display);
    padding: 0 15px;
}

.burger:hover {
    background-color: #f5f5f5;
}

.burger.is-active .burger-inner,
.burger.is-active .burger-inner:after,
.burger.is-active .burger-inner:before {
    background-color: #4a4a4a;
}

.burger:hover .burger-inner,
.burger:hover .burger-inner:after,
.burger:hover .burger-inner:before {
    background-color: #0a0a0a;
}

.burger-box {
    display: flex;
    align-items: center;
    width: 40px;
    height: 80px;
    transition: var(--navbar-transition);
}

.navbar:not(.up) .burger-box {
    height: 0;
    transform: translateY(0);
}

.burger-inner,
.burger-inner:after,
.burger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #4a4a4a;
}

.burger-inner:after,
.burger-inner:before {
    content: ""
}

.burger-inner:before {
    top: -10px
}

.burger-inner:after {
    bottom: -10px
}

.burger .burger-inner {
    transition: cubic-bezier(.19, 1, .22, 1) 0.3s;
}

.burger.is-active .burger-inner {
    transform: rotate(765deg);
}

.burger.is-active .burger-inner:before {
    top: 0;
    opacity: 0
}

.burger.is-active .burger-inner:after {
    bottom: 0;
    transform: rotate(90deg)
}
