/*  */

* {
    font-family: gotham-book;
    color: #4a4a4a
}

body {
    min-height: 150vh;
}

header {
    height: var(--navbar-height);
}

footer {
    background-color: blue;
    color: white;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: 32px;
}

/**** navbar ****/
.navbar {
    background-color: var(--navbar-bg);
    box-shadow: var(--navbar-box-shadow);
    left: 0;
    overflow: var(--navbar-overflow);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-container {
    display: flex;
    flex-direction: var(--navbar-flex-direction);
    flex-wrap: var(--navbar-container-flex-wrap);
    justify-content: var(--navbar-container-justify-content);
    margin-top: var(--navbar-container-margin-y);
    margin-bottom: var(--navbar-container-margin-y);
    margin-left: var(--navbar-container-margin-x);
    margin-right: var(--navbar-container-margin-x);
    max-height: var(--navbar-height);
    overflow: hidden;
    transition: var(--navbar-transition);
}

.is-active .navbar-container {
    max-height: 5000px;
}

.navbar .brand {
    height: var(--navbar-height);
    padding-left: var(--navbar-brand-padding-x);
    padding-right: calc(2 * var(--navbar-brand-padding-x));
    width: max-content;
}

.navbar a {
    align-items: center;
    display: flex;
    padding-left: var(--navbar-links-padding-x);
    padding-right: var(--navbar-links-padding-x);
    text-decoration: none;
    white-space: nowrap;
    width: calc(100% - 2 * var(--navbar-links-padding-x));
}

.has-dropdown .navbar-item a {
    font-size: 0.95em;
    line-height: 2;
    padding-right: calc(var(--navbar-links-padding-x) + 2 * var(--navbar-links-hover-decallage));
    transition: var(--navbar-links-transition);
}

.navbar a:hover {
    background-color: #f5f5f5;
    color: #0a0a0a;
}

.has-dropdown .navbar-item:hover a {
    padding-left: calc(var(--navbar-links-padding-x) + var(--navbar-links-hover-decallage));
    padding-right: calc(var(--navbar-links-padding-x) + var(--navbar-links-hover-decallage));
}

.navbar-items {
    display: flex;
    flex-direction: var(--navbar-items-flex-direction);
    justify-content: space-around;
    margin: 0;
    order: var(--navbar-items-order);
    padding: 0;
    width: var(--navbar-items-width);
}

.navbar-container > .navbar-items {
    margin-bottom: var(--navbar-items-margin-y);
}

.has-dropdown .navbar-items {
    background-color: var(--navbar-bg);
    border-radius: var(--navbar-dropdown-items-border-radius);
    flex-direction: column;
    margin-top: var(--navbar-dropdown-items-margin-y);
    margin-left: calc(2 * var(--navbar-dropdown-items-margin-x));
    margin-right: var(--navbar-dropdown-items-margin-x);
    max-height: 0;
    overflow: hidden;
    padding-left: var(--navbar-items-padding-x);
    padding-right: var(--navbar-items-padding-x);
    position: absolute;
    position: var(--navbar-dropdown-items-position);
    transition: var(--navbar-transition);
}


@media (min-width: 992px) {
    .navbar .has-dropdown:hover .navbar-items {
        box-shadow: var(--navbar-items-box-shadow);
        margin-bottom: var(--navbar-dropdown-items-hover-margin-y);
        max-height: 5000px;
        padding-top: var(--navbar-items-padding-y);
        padding-bottom: var(--navbar-items-padding-y);
    }
    .navbar .has-dropdown:hover i.fa-angle-down {
        transform: rotate(-180deg);
    }
}

@media (max-width: 991px) {
    .navbar .has-dropdown.is-active .navbar-items {
        box-shadow: var(--navbar-items-box-shadow);
        margin-bottom: var(--navbar-dropdown-items-hover-margin-y);
        max-height: 5000px;
        padding-top: var(--navbar-items-padding-y);
        padding-bottom: var(--navbar-items-padding-y);
    }
    .navbar .has-dropdown.is-active i.fa-angle-down {
        transform: rotate(-180deg);
    }
}

.navbar i.fa-angle-down {
    margin-left: var(--navbar-angle-margin-left);
    margin-right: var(--navbar-angle-margin-right);
    transition: var(--navbar-transition);
}

.navbar-item {
    display: flex;
    flex-wrap: wrap;
    line-height: 3;
}

.navbar-divider {
    background-color: #f5f5f5;
    border: none;
    height: 2px;
    margin: .5em 0;
}




/***** burger *****/
.burger {
    cursor: pointer;
    display: var(--navbar-burger-display);
    padding-top: var(--burger-padding-y);
    padding-bottom: var(--burger-padding-y);
    padding-left: var(--burger-padding-x);
    padding-right: var(--burger-padding-x);
}

.burger:hover {
    background-color: #f5f5f5;
}

.burger.is-active .burger-inner,
.burger.is-active .burger-inner:after,
.burger.is-active .burger-inner:before {
    background-color: #4a4a4a;
}

.burger:hover .burger-inner,
.burger:hover .burger-inner:after,
.burger:hover .burger-inner:before {
    background-color: #0a0a0a;
}

.burger-box {
    display: flex;
    align-items: center;
    width: 40px;
    height: 80px;
    transition: var(--navbar-transition);
}

.burger-inner,
.burger-inner:after,
.burger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #4a4a4a;
}

.burger-inner:after,
.burger-inner:before {
    content: "";
}

.burger-inner:before {
    top: -10px;
}

.burger-inner:after {
    bottom: -10px;
}

.burger .burger-inner {
    transition: cubic-bezier(.19, 1, .22, 1) 0.3s;
}

#navbar.is-active .burger .burger-inner {
    transform: rotate(765deg);
}

#navbar.is-active .burger .burger-inner:before {
    top: 0;
    opacity: 0;
}

#navbar.is-active .burger .burger-inner:after {
    bottom: 0;
    transform: rotate(90deg);
}
